<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>grpcClient-1.0</feature>
        <feature>transportSecurity-1.0</feature>
    </featureManager>
	
    <grpcClient host="*" headersToPropagate="*"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="-1"
                  httpsPort="9443" 
                  host="*"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" keyStoreRef="defaultKeyStore" trustStoreRef="defaultTrustStore"/>
    
	<keyStore id="defaultKeyStore" location="${server.config.dir}/resources/security/key.p12" password="changeit" />
	<keyStore id="defaultTrustStore" location="${server.config.dir}/resources/security/trust.p12" password="changeit" />
</server>